/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Sadie Curdts and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/nature_bgcopy.jpg)
      center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    max-width: 800px;
	padding: 2%;
    margin: 100px auto;
    border-radius: 30px 150px;
	text-align: center;
}

   
#logo {
    min-width: 150px;
    max-width: 350px;
    margin-bottom: 0px;
    padding: 60px;
    padding-bottom: 25px;

	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
	font-family: quasimoda, sans-serif;
font-weight: 300;
font-style: normal;
    text-transform: uppercase;
    font-size:20px;
    max-width: 800px;
	padding: .9%;
    line-height: 30px; 
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    text-align: center;
}

h2 {
	font-family: quasimoda, sans-serif;
font-weight: 200;
font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    width: 700px;
    line-height: 30px; 
    margin: 0 auto;
    margin-top: 0em;
    color: floralwhite;
    text-align: center;
   
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */		;
    font-family: garamond, serif;
    font-size: 1.2em;
    width: 400px;
    margin: 0 auto;

    border-width: 3px 0;
    text-align: center;
    margin-top: 2em; 
}
    
nav{
    font-family: garamond, serif;
    font-size: 12px;
    width: 400px;
    margin: 0 auto;
    border-width: 3px 0;
    text-align: center;
    margin-top: 5em; 
    }    

nav li{
    display:inline;
    }

a{
    color:#444;
    text-decoration: none;
    font-weight: bold;
    }


* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.btn{
  border-top-left-radius: 25px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 25px;
  color:#f6e3e7;
  background:rgba(40, 40, 40, 0.4);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border-top-left-radius: 50px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 50px;
  color:#f6e3e7;
  background:rgba(7, 7, 7, 0.4);
  padding:15px 25px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
    
}
 